# Overrides settings.toml

ENV_FOR_DYNACONF = "development"
DYNACONF_TELEGRAM_TOKEN = "TELEGRAM_TOKEN"

DYNACONF_DB_ADDRESS = "postgresql://dasbot:dasbot@127.0.0.1:5432/dasbot"
# DYNACONF_DB_USERNAME = "dasbot" # Optional if embedded in URL
# DYNACONF_DB_PASSWORD = "dasbot" # Optional if embedded in URL

DYNACONF_WEBAPP_HOST = "0.0.0.0"
DYNACONF_WEBAPP_PORT = 8080

DYNACONF_MODE = "polling" # set to "webhook" for production deployment with domain
# DYNACONF_WEBHOOK_SECRET = "WEBHOOK_SECRET"
# DYNACONF_WEBHOOK_HOST = "https://webhook.example.com"
# DYNACONF_WEBHOOK_PATH = "/"

DYNACONF_BROADCAST = true

# DYNACONF_SENTRY_DSN = "SENTRY_DSN" # optional
# DYNACONF_POSTHOG_API_KEY = "POSTHOG_KEY" # optional
# DYNACONF_PUBLISHER_KEY = "PUBLISHER_KEY" # optional, activates ads if present
